{:deps     {:aliases [:dev]}
 :nrepl    {:port 9000
            :host "0.0.0.0"}

 :dev-http {8000 "resources/public"}

 :builds   {:main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"

                   :modules    {:main {:init-fn app.client/init}}
                   :devtools   {:after-load app.client/reload
                                :preloads   [com.fulcrologic.fulcro.inspect.preload
                                             app.client.preload]}}}}
