{:lint-as  {com.fulcrologic.guardrails.core/>def                       clojure.spec.alpha/def
            com.fulcrologic.guardrails.core/>defn                      clojure.core/defn
            com.fulcrologic.fulcro.components/defsc                    clojure.core/defn
            com.wsscode.pathom.connect/defresolver                     clojure.core/defn
            com.wsscode.pathom.connect/defmutation                     clojure.core/defn
            com.fulcrologic.fulcro.mutations/defmutation               clojure.core/defn
            com.fulcrologic.fulcro.routing.dynamic-routing/defrouter   clojure.core/defn
            com.fulcrologic.fulcro.algorithms.normalized-state/swap!-> clojure.core/->}

 :linters {:unresolved-symbol
           {:exclude [(com.fulcrologic.fulcro.mutations/defmutation)]}}
 :skip-comments true}
